doctype html
html
  head
    meta(charset='utf-8')
    meta(name="viewport" content="width=device-width, initial-scale=1, user-scalable=0")
    title= title
    link(rel='stylesheet', href='/stylesheets/style01.css')
    script(src='/javascripts/jquery-3.3.1.min.js')
    script(src='/javascripts/player.js')
    script oriQuery={src: '#{query.src}',id: '#{query.songid}'}
  body
    .bg
    .searchbox
        form(onsubmit='return searchSong()')
            .search_box
                input#s_input(type='text' name='search' placeholder='Search a song with name or id' 
                                style='color:rgba(0,0,0,0.7);' autocomplete='off')
                ul#s_hint
            input#search(type='submit' 'value'='PLAY')
    .box-video
        #cd(class='cd')
            #cd_bg
            .center
                .center_bg
                img(src='/images/play.png' onclick='playMusic(this)')
        .song
            #stitle title
            a(title='右键另存为')
            .lyric 
                #container
                    #lyric_container
                        p.lrcLine lyric
                    #cmt_container
                #lyric_scroller_hinter
                #lyric_scroller.needHide
                img#cmt_btn(src="/images/comments.png" title='查看评论')
            audio#player(loop)
    .footer
        p 历史访问量:#{hisVisit}
        img(src='/images/android.png' usemap='#map1')
        map(name='map1')
            area(shape='rect' href='./player/OneMusic.apk' coords='0,0,25,25' alt='Download' title='下载安卓客户端')
    #popup(hidden)
        img#status_icon
        p#pop_text
